.board {
  margin: 0 auto;
  padding: 5px;
}

.card, .card img {
  width: 90px;
  height: 90px;
}

.card {
  float: left;
  position: relative;
  margin: 5px;
}

.card img {
  position: absolute;
  top: 0;
}