.board {
  margin: 0 auto;
  padding: 5px;
}

.card, .card img {
  height: 90px;
  width: 90px;
}

.card {
  float: left;
  margin: 5px;
  position: relative;
}

.card img {
  position: absolute;
  top: 0;
}

[data-element="cover"] {
  background: #34495e;
  cursor: pointer;
  height: 90px;
  position: absolute;
  top: 0;
  width: 90px;
}
